<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>visualRecognition</key>
    <dict>
      <key>apikey</key>
      <string>REPLACEME.visualRecognitionServiceName.apikey</string>
      <key>iam_apikey_description</key>
      <string>REPLACEME.visualRecognitionServiceName.iam_apikey_description</string>
      <key>iam_apikey_name</key>
      <string>REPLACEME.visualRecognitionServiceName.iam_apikey_name</string>
      <key>iam_role_crn</key>
      <string>REPLACEME.visualRecognitionServiceName.iam_role_crn</string>
      <key>iam_serviceid_crn</key>
      <string>REPLACEME.visualRecognitionServiceName.iam_serviceid_crn</string>
      <key>url</key>
      <string>REPLACEME.visualRecognitionServiceName.url</string>
    </dict>
    <key>appName</key>
    <string>iosvisualrecognitionapp</string>
  </dict>
</plist>
