<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>visualrecognitionApikey</key>
    <string>REPLACEME.visualRecognitionServiceName.apikey</string>
    <key>visualrecognitionUrl</key>
    <string>https://gateway.watsonplatform.net/visual-recognition/api</string>
    <key>visualrecognitionNote</key>
    <string>This apiKey will be valid in an hour or so.</string>
    <key>appName</key>
    <string>visualrecognitionios</string></dict>
</plist>
